.hidden {
    display: none;
}

.gradient-examples {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    max-height: 250px;
    padding: 1rem;
  }

  @media (min-width: 1000px) {
    .gradient-examples {
      grid-template-columns: repeat(3, 1fr);
    }
  } 

  .block {
    color: #fff;
    padding: 2em;
    display: flex;
  }

  .header {
    display: block;
  }

  
  .example {
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 15px hsla(0deg, 0%, 0%, 0.5);
    height: 800px;
    width: auto;
    margin: auto;
    justify-content: center;
    text-shadow: 0 2px 3px hsla(0deg, 0%, 0%, 0.25);
  } 
  
  .linear {
    background-image: linear-gradient(#047bc0, #0e2c17);
    /* Blue on top - Fades into deep green*/
  } 

  #favorites-container {
    color: rgb(255, 255, 255);
    padding: 2em;
  }

